*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/* header styling */
  #head {
    background-color: #968e5c;
    color: white;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    align-items: center;
    /* background: rgb(52, 38, 97) url('images/logo.png') center center/ cover no-repeat; */
    /* background-repeat: no-repeat;
  background-position: center;
   background-size: auto;  */
    font-size: x-large;
    color: aliceblue;
    font-weight: 700;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* outline: double 4px rgb(106, 70, 11); */
  }

  /* video2 is inside v-container in index.html.
   it is background video of header*/
  #video2 {
    z-index: 1;
    width: 100%;
    height: auto;
    object-fit: fill;
    /* backdrop-filter: blur(10px); */
  }

  /* applied search bar position */
  .search-form{
    position: absolute;
    z-index: 2;
  }
  
  /* search bar heading1 added hover */
  .search-form h1:hover{
    color: #090909;
  
  }
/* search bar label added hover */
  .search-form label:hover {
    color: #090909;
}
 /* search bar styling */
 #searchInput{
    width: 15rem;
    padding: .3rem;
    border-radius: 5px;
  border: 0px;
    outline: none;
  }
    /* restuarant list styling */
  .display-data{
    margin-top: 4px;
     background-color: white; 
    color: black;
    width: 15rem;
    padding: .3rem;
    border-radius: 5px;
  }

    /* search bar placeholder styling */
  #searchInput::placeholder{
    color: black;
    font-size: 14px;
    float: left;
  }

    /* buttons styling */
  button {
    padding: 5px 10px;
    cursor: pointer;
    width: 100px;
    padding: 6px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: large;
  border-radius: 5px;
  }
  
  /* buttons hover added */
  button:hover {
    background-color: #a19b9b;
    color: black;
  }

/* it is inside header tag */
.v-container {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 408px;
    overflow: hidden;
    width: 100%;
    
  }

  /* logo styling and position */
  .logo {
    width: 200px;  
    height: 100px;
    outline: double 4px rgb(209, 70, 16);
    /* opacity: 0.5; */
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    text-align: center;
    margin: 1%;
  }

 /*  navigation position */
  .navigation {
    z-index: 4;
  top: 12px;
  right: 40px;
    position: absolute;
    /* background-color: #483426; */
    overflow: hidden;
    /* font-style: italic; */
    /* font-weight: 450; */
  }

  /* navigation bar a tag styling */
  .navigation a {
    float: left;
    display: block;
    color: #070707;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
    font-weight: 600;
  
  }
  /* navigation a tags added hober */
  .navigation a:hover {
    color: #e5e5e5;
    text-decoration: underline;
    
  }
  
  .navigation a.active {
    color: rgb(198, 17, 17);
  }
  .navigation a.active:hover {
    color:#f1f1f1;

  }
  
  .navigation .icon {
    display: none;
  }
  @media screen and (max-width: 600px) {
    .navigation a:not(:first-child) { 
      display: none;
    }
  
    .navigation a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .navigation.responsive {
      position: relative;
    }
  
    .navigation.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
    }
    
   
      .slides-section{
        width: 100%;
        padding: 2rem;
      }
      .text-content{
        text-align: center;
      }
      .text-content > p{
        font-size: 44px;
        font-weight: 900;
        margin-block: 2rem ;
      }
      .slider {
        width: 50%;
        overflow-x: hidden;
        margin: auto;
      
      }
      
      .slides {
        display: flex;
        width: 100%;
        transition: 1s ease;
      }
      
      
      .slide {
        width: 100%;
        flex-shrink: 0;
      }
      
      .slide img {
        width: 100%;
        height: 400px;
        object-fit: fill;
      }

      /* footer styling */
      footer{
        text-align: center;
        background-color: #a19b9b;
      margin: 2%;
      padding: 2%;
      }

        /* footer a tag styling */
      footer a{
        color: #88141d;
        text-decoration: none;
        display: flex;
       flex-direction:column;
      }

        /* footer a tag hover added */
      footer a:hover{
      text-decoration:underline;
      
      }
    
      .dropdown {
        position: relative;
        display: inline-block;
      }
      

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover 
      {
        background-color: #ddd;
      }
      .btnDrop{
      min-width: 200px;
      margin: 1%;
      }
      
      .show {
        display:block;
      }
      
      #aboutus{
      text-align: center;
      width: 50%;
      display: block;
      margin:0 auto;
      }
      
      